@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  font-family: "Noto Sans KR", "Noto Sans", sans-serif;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-win: var(--win);
  --color-lose: var(--lose);
  --color-route: var(--route);
  --color-loopwin: var(--loopwin);

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      rotate: -90deg;
    }
    12.5% {
      /* transform: rotate(90deg); */
      rotate: 90deg;
    }
    25% {
      /* transform: rotate(-22.5deg); */
      rotate: -22.5deg;
    }
    37.5% {
      /* transform: rotate(22.5deg); */
      rotate: 22.5deg;
    }
    45% {
      /* transform: rotate(-11.25deg); */
      rotate: -11.25deg;
    }
    57.5% {
      /* transform: rotate(11.25deg); */
      rotate: 11.25deg;
    }
    75% {
      /* transform: rotate(-5deg); */
      rotate: -5deg;
    }
    87.5% {
      /* transform: rotate(5deg); */
      rotate: 5deg;
    }
  }

  /* --animate-chat-loading: "chat-loading 1s ease-in-out infinite"; */
  @keyframes chat-loading {
    0%,
    100% {
      transform: scale(0.6);
      opacity: 0.5;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
  }
}
:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

.theme-red {
  --primary: oklch(0.577 0.215 27.3);
  --primary-foreground: oklch(1 0 0);
}

.dark.theme-red {
  --primary: oklch(0.577 0.215 27.3);
  --primary-foreground: oklch(1 0 0);
}
.theme-orange {
  --primary: oklch(0.646 0.194 41.1);
  --primary-foreground: oklch(1 0 0);
}

.dark.theme-orange {
  --primary: oklch(0.646 0.194 41.1);
  --primary-foreground: oklch(1 0 0);
}
.theme-amber {
  --primary: oklch(0.666 0.157 58.3);
  --primary-foreground: oklch(1 0 0);
}

.dark.theme-amber {
  --primary: oklch(0.666 0.157 58.3);
  --primary-foreground: oklch(1 0 0);
}
.theme-yellow {
  --primary: oklch(0.681 0.142 75.8);
  --primary-foreground: oklch(1 0 0);
}

.dark.theme-yellow {
  --primary: oklch(0.681 0.142 75.8);
  --primary-foreground: oklch(1 0 0);
}
.theme-lime {
  --primary: oklch(0.648 0.175 131.7);
  --primary-foreground: oklch(1 0 0);
}

.dark.theme-lime {
  --primary: oklch(0.648 0.175 131.7);
  --primary-foreground: oklch(1 0 0);
}
.theme-green {
  --primary: oklch(0.627 0.17 149.2);
  --primary-foreground: oklch(1 0 0);
}

.dark.theme-green {
  --primary: oklch(0.627 0.17 149.2);
  --primary-foreground: oklch(1 0 0);
}
.theme-emerald {
  --primary: oklch(0.596 0.127 163.2);
  --primary-foreground: oklch(1 0 0);
}

.dark.theme-emerald {
  --primary: oklch(0.596 0.127 163.2);
  --primary-foreground: oklch(1 0 0);
}
.theme-teal {
  --primary: oklch(0.6 0.104 184.7);
  --primary-foreground: oklch(1 0 0);
}

.dark.theme-teal {
  --primary: oklch(0.6 0.104 184.7);
  --primary-foreground: oklch(1 0 0);
}
.theme-cyan {
  --primary: oklch(0.609 0.111 221.7);
  --primary-foreground: oklch(1 0 0);
}

.dark.theme-cyan {
  --primary: oklch(0.609 0.111 221.7);
  --primary-foreground: oklch(1 0 0);
}
.theme-sky {
  --primary: oklch(0.588 0.139 242);
  --primary-foreground: oklch(1 0 0);
}

.dark.theme-sky {
  --primary: oklch(0.588 0.139 242);
  --primary-foreground: oklch(1 0 0);
}
.theme-blue {
  --primary: oklch(0.546 0.215 262.9);
  --primary-foreground: oklch(1 0 0);
}

.dark.theme-blue {
  --primary: oklch(0.546 0.215 262.9);
  --primary-foreground: oklch(1 0 0);
}
.theme-indigo {
  --primary: oklch(0.511 0.23 277);
  --primary-foreground: oklch(1 0 0);
}

.dark.theme-indigo {
  --primary: oklch(0.511 0.23 277);
  --primary-foreground: oklch(1 0 0);
}
.theme-violet {
  --primary: oklch(0.541 0.247 293);
  --primary-foreground: oklch(1 0 0);
}

.dark.theme-violet {
  --primary: oklch(0.541 0.247 293);
  --primary-foreground: oklch(1 0 0);
}
.theme-purple {
  --primary: oklch(0.558 0.252 302.3);
  --primary-foreground: oklch(1 0 0);
}

.dark.theme-purple {
  --primary: oklch(0.558 0.252 302.3);
  --primary-foreground: oklch(1 0 0);
}
.theme-fuchsia {
  --primary: oklch(0.591 0.257 322.9);
  --primary-foreground: oklch(1 0 0);
}

.dark.theme-fuchsia {
  --primary: oklch(0.591 0.257 322.9);
  --primary-foreground: oklch(1 0 0);
}
.theme-pink {
  --primary: oklch(0.592 0.218 0.6);
  --primary-foreground: oklch(1 0 0);
}

.dark.theme-pink {
  --primary: oklch(0.592 0.218 0.6);
  --primary-foreground: oklch(1 0 0);
}
.theme-rose {
  --primary: oklch(0.586 0.222 17.6);
  --primary-foreground: oklch(1 0 0);
}

.dark.theme-rose {
  --primary: oklch(0.586 0.222 17.6);
  --primary-foreground: oklch(1 0 0);
}

.theme-gray {
  --primary: oklch(0.446 0.026 256.8);
  --primary-foreground: oklch(1 0 0);
}

.dark.theme-gray {
  --primary: oklch(0.446 0.026 256.8);
  --primary-foreground: oklch(1 0 0);
}
:root {
  --radius: 0.75rem;
  --win: #0284c7;
  --lose: #e11d48;
  --route: #16a34a;
  --loopwin: #9333ea;
  color-scheme: light;
}

.dark {
  --radius: 0.75rem;
  --win: #0ea5e9;
  --lose: #f43f5e;
  --route: #16a34a;
  --loopwin: #8b5cf6;
  color-scheme: dark;
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-sidebar text-foreground;
  }
}
