body {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height : 4rem
  /* align-items: center; */
}
.info-logo-set, .logo-set,.menu-set {
  display: flex;
  align-items: center;
  margin: 5px;
}
.menu-wrap{
  border-radius: 0.8rem;
  border : solid 1px #ced4da;
  height : 40px;
  width : 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin : 0.3rem;

}

.logo-img {
  width: 30px;
 
  margin: 0.4rem;
  fill: #444444
}

.logo-text {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 2rem;

  transform: translateY(0.1rem);
  color: #444444
}

.menu-set .btn-wrap {
  display: flex;
  font-size: 0.7rem;
  width: 44px;
  margin: 0.2rem;
  flex-direction: column;
  align-items: center;

}
.menu-set .btn-icon{
  width : 1.5rem;
}
.menu-set .caption {
  margin: 0;
  color : "#444444"
}


.search-box {
  display: flex;
  margin: auto;
  margin-top: 1rem;
  justify-content: center;
  border-radius: 0.5rem;

}

.search-box .search-input, .search-box .search-input:focus, .search-box .search-input:focus-visible{
  padding: 0 10px;
  font-size: 30px;
  width: 80px;
  height: 60px;
  border-radius: 0.5rem;
  border: 1px solid #ced4da;
  text-align: center;
  grid-column: 1 / span 3;
  margin: 0 !important;
  outline: none
}


.search-box .prev {
  width: 45px;
  height: 40px;
  grid-column: 1;
  grid-row: 2;
  border-radius: 0px 0px 0px 0.5rem;
  border: 1px solid #ced4da;
  border-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .search-box .selection {
  width: 45px;
  height: 40px;
  grid-column: 2;
  grid-row: 2;
  border-radius: 0;
  border: 1px solid #ced4da;
  border-top: 0;
  border-left: 0;
  border-right : 0;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.search-box .next {
  width: 45px;
  height: 40px;
  grid-column: 3;
  grid-row: 2;
  border-radius: 0px 0px 0.5rem 0px;
  border: 1px solid #ced4da;
  border-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.search-box .btn-icon{
  width : 30px;
}

.selection-btn{
  position : fixed;
  bottom : 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  /* border: 1px solid #ced4da; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width : 50px;
  height : 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.selection-btn .btn-icon{
  width : 40px;
}

.rule-modal .select-form{
  width : 100%
}
.rule-modal .setting-select{
  display: grid;
  grid-template-columns : 1fr 3fr;
  align-items: center;
  
}
.rule-modal .modal-body{
  padding : 0 1rem;
}
.rule-modal .setting-wrap{
  /* margin : 0 0.5rem; */
  padding : 1rem 0.5rem;
  border-bottom: 1px solid #dee2e6;
  
}
.rule-modal .setting-wrap:last-of-type{
  border-bottom : 0;
}

.rule-modal .form-select{
  border : none;
  outline : none;
  box-shadow: none;
  font-size : 0.8rem;
  color : #212529;
}
.rule-modal .form-select:focus, .rule-modal .form-select:active, .rule-modal .form-select:focus-visible{
  border : none !important;
  outline: none !important;
  box-shadow: none;
}
.setting-toggle label, .setting-toggle label:hover, .setting-toggle label:focus-visible{
  border-radius : 100000px;
  margin : 0.1rem;
  font-size : 0.8rem;
  border : 1px solid #dee2e6 !important;
  /* color : #212529; */
}
.rule-modal .setting-toggle, 
.rule-modal .setting-range, 
.rule-modal .setting-check{
  display : grid;
  row-gap: 1rem;
}


.setting-range label, .setting-range label:hover, .setting-range label:focus-visible{
  margin : 0;
  font-size : 0.8rem;
  border : 1px solid #dee2e6 !important;
  border-left : 0 !important;
  border-radius: 0;
}
.setting-range label:first-of-type {
  border-radius: 10000px 0 0 10000px;
  border-left: 1px solid #dee2e6 !important;
}
.setting-range label:last-of-type {
  border-radius: 0 10000px 10000px 0 ;
}
.setting-check{
  display : grid;
  row-gap: 1rem;
}
.setting-select-index{
  display: grid;
  grid-template-columns : 2fr 3fr 3fr;
  align-items: center;
}
.form-control-wrap{
  display : grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.invalid-feedback{
  grid-column: 1 / span 2;
  background : none;
  color : #dc3545;
}

.rule-modal .form-control, .rule-modal .form-control:hover, .rule-modal .form-control:focus-visible{
  border: 0;
  border-bottom : 0.5px solid #212529;
  border-radius: 0;
  outline: none !important;
  box-shadow: none;
  font-size : 0.8rem;
  color : #212529;
  text-align: center;
  padding : 6px 6px;
}
.rule-modal .index-text{
  color : #212529;
  font-size : 0.8rem;
  text-align: center;
}
.btn-close:focus{
  /* outline : none !important; */
  border-radius: 100000px;
  box-shadow: 0 0 0 0.25rem rgba(0, 0,0, 0.25);
}
.offcanvas{
  height : 50% !important
}
.offcanvas-header{
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: 1fr 3rem;
  height : auto;
  border-bottom : var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
}
.offcanvas-body{
  padding : 0;
}
.offcanvas .radio-btn-set{
  display: flex;
  width : 100%;
  justify-content: space-around;
}

.offcanvas label{
  border-radius: 10000px;
  border : none;
  /* padding : 0; */
}
.returning-icon{
  width : 1.0rem;
  margin-left:0.1rem  ;
  
  transform: translate(0, -11%);
}

.char-btn{
  color:#fff;
  font-size: 0.9rem;
  border-radius: 100000px;
  padding: 0.35em 0.75em;
  margin: 0.1rem;
  
  white-space:nowrap;
  line-height: 2rem;
  
}
.char-button-win-0{
  background-color: rgba(13, 110, 253, 1.0);
}
.char-button-win-1{
  background-color: rgba(13, 110, 253, 0.9);
}
.char-button-win-2{
  background-color: rgba(13, 110, 253, 0.8);
}
.char-button-win-3{
  background-color: rgba(13, 110, 253, 0.7);
}
.char-button-win-4{
  background-color: rgba(13, 110, 253, 0.6);
}
.char-button-win-5{
  background-color: rgba(13, 110, 253, 0.5);
}
.char-button-win-6{
  background-color: rgba(13, 110, 253, 0.4);
}
.char-button-los-0{
  background-color: rgba(220, 53, 69, 1.0);
}
.char-button-los-1{
  background-color: rgba(220, 53, 69, 0.9);
}
.char-button-los-2{
  background-color: rgba(220, 53, 69, 0.8);
}
.char-button-los-3{
  background-color: rgba(220, 53, 69, 0.7);
}
.char-button-los-4{
  background-color: rgba(220, 53, 69, 0.6);
}
.char-button-los-5{
  background-color: rgba(220, 53, 69, 0.5);
}
.char-button-los-6{
  background-color: rgba(220, 53, 69, 0.4);
}

.char-button-cir-0{
  background-color: #198754;
}
.char-btn-card{
  text-align: center;
  border-radius: 0.5rem;
  /* box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px; */
  padding : 0.8rem;
  margin : 0 0 1rem 0;
  border : 1px solid #dee2e6;
  vertical-align: center;
  
  /* display : inline-block; */
  width : auto;

}
.card-caption{
  background-color: rgb(var(--bs-secondary-rgb));
  border-radius: 10000px;
  font-size : 0.65rem;
  padding: 0.20em 0.65em;
  margin-bottom : 0.8rem;
  display : inline-block;
  color: #ffffff;  
}

.char-container{
  
  line-height :2rem;
}

.btn-card-set{
  text-align: center;
  padding : 1em;
  
}
.word-btn-card-set{
  text-align: center;
  padding : 1em;
  margin-bottom: 50vh;
}

.loading-backdrop{
  position : fixed;
  background-color : rgba(0, 0, 0, 0.7);
  width : 100%;
  height : 100%;
  top: 0px;
  left : 0px;
  z-index: 999999;
  align-items: center;
  justify-content: center;
  display :flex;
}
.loading-backdrop .loading-box{
  text-align: center;
  color : #ffffff;
}

.loading-backdrop .loading-img{
  animation: rotate_image 3s linear infinite;
  transform-origin: 50% 50%;
  width : 100px;
}
.spinner{
  margin : 10px
}

@keyframes rotate_image{
  100% {
      transform: rotate(360deg);
  }
}
.loading-backdrop .loading-text{
  margin-top : 1rem
}


.switch-mode-btn-set{

  margin : 0.5rem 0;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}
.analysis-trail::-webkit-scrollbar,
.switch-mode-btn-set::-webkit-scrollbar{
  display: none; 
}

.switch-mode-btn-set .toggle-wrap{
  display : inline;
  
}

.switch-mode-btn{
  background-color: #ffffff;
  font-weight:500;
  font-size : 1rem;
  border-radius: 100000px;
  margin : 0 0.5rem 0 0.5rem;
  border : 0;
}

.switch-mode-btn-set label{
  font-weight : 800;
  background-color: #ffffff;
  border: 0;
  height : 2.25rem
}


.switch-mode-btn-set .btn-check:checked+.btn,
.switch-mode-btn-set .btn.active,
.switch-mode-btn-set .btn.show, 
.switch-mode-btn-set .btn:first-child:active, 
.switch-mode-btn-set :not(.btn-check)+.btn:active {
  color: var(--bs-btn-active-color);
  background-color: #efeff0 ;
  border-color: var(--bs-btn-active-border-color);
}

.word-input-box{
  position : fixed;
  bottom : 0;
  width : 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding : 1rem 0.5rem 1rem 1rem
}

.word-input,
.word-input:focus,
.word-input:focus-visible
.word-input:focus {
  outline: none;
  width : 100%;
  border-radius: 10000px;
  height : 3rem;
  padding : 1rem;
  font-size : 1.2rem;
  border: 1px solid #ced4da;
  background-color: #f4f5fb;
  
}

.input-btn-box{
  /* border: 1px solid #ced4da; */
  height : 3rem;
  width : 3rem;
  display : flex;
  justify-content: center;
  align-items: center;
  margin-left : 0.7rem
}
.send-btn-icon{
  width : 2.5rem;
  
}
.copy-icon{
  width : 2.5rem;
  
}
.chat-box{
  position: fixed;
  padding-bottom: 10px;
  top: 7.25rem;
  width: 100%;
  height: calc(100% - 12.25rem);
  /* background-color: #b2c7da; */
  overflow: auto;
  padding : 0.5rem;
}
.chat-box-shadow {
  content: "";
  background: -webkit-radial-gradient(50% 100%,farthest-side,rgba(0,0,0,.2),transparent) bottom;
  background: radial-gradient(farthest-side at 50% 100%,rgba(0,0,0,.2),transparent) bottom;
  bottom: 5rem;
  margin-top: -4px;
  padding-top: 4px;
  display: block;
  position: fixed;

  width: 100%;
}
.chat{
  border : 1px solid #ced4da;
  margin : 7px;
  padding : 4px 8px;
  font-size : 1rem;
  display: inline-block;
}
.chat-wrapper{
  padding :0;
  margin:0;
  display: flex;
}
.chat-computer{
  border-radius: 0 15px 15px 15px;
}
.chat-you{
  border-radius: 15px 0 15px 15px;
  margin-left: auto;
  background-color: #f4f5fb;
}
.diff-box{
  display : flex;
  /* justify-content: center; */
  align-items: center;
}

.diff-btn{
  margin : 0.5rem;
  background-color : #ffffff;
  border-radius: 15px;
}
.manner-warning{
  color : red;
  font-size: 0.8rem;
  
}

.stat-box{
  margin : 1rem
}


.title-text{
  font-size : 1.3rem;
  font-weight: 600;
  color : #212529;
}

.info-logo-set .logo-img{
  width : 40px
}
.info-logo-set .logo-text{
  font-size: 2.4rem;  
}
.info-link{
  display:flex;
  align-items: center;
}
.link-icon{
  width : 1.3rem;
  margin-right : 0.2rem;
}
.delete-icon{
  width : 20px;
  transform: translate(4px,-2px);
}

.analysis-input,
.analysis-input:focus,
.analysis-input:focus-visible
.analysis-input:focus {
  outline: none;
  width : 100%;
  height : 0.9rem;
  border-radius: 10000px;
  margin-top: 0.5rem;
  padding : 1rem;
  font-size : 0.9rem;
  border: 1px solid #ced4da;
  background-color: #f4f5fb;
  
}

.analysis-box{
  padding : 1rem 1rem 0 1rem
}
.analysis-box .title,
.analysis-result .title{
  font-weight: 600;
}
.analysis-box .word-btn-card-set{
  padding : 0;
  margin :0.5rem 0 0 0
}

.analysis-box .char-btn-card{
  margin :0
}
.analysis-box .search-box{
  margin : 0.5rem 0 0 0;
  justify-content: flex-start;
}
.analysis-box .search-input,
.analysis-box .search-input:focus,
.analysis-box .search-input:focus-visible
.analysis-box .search-input:focus{
  width : 80px;
  height : 60px;
  font-size : 30px;
}
.analysis-icon{
  width : 1.2rem;
  margin-left : 0.2rem
}
.analysis-btn{
  display:flex;
  align-items: center;
}
.accordion-body{
  padding:0 0 1rem 0 
}
.accordion-button:not(.collapsed){
  background-color: #efeff0;
}
.accordion-button:focus{
  border : 0
}
.setting-title, .setting-foot{
  border-top : 1px solid #ced4da;
  border-bottom : 1px solid #ced4da;
  padding : 1rem;
  font-size: 1.0rem;
  font-weight: 600;
  background-color: #fafafa;
}
.setting-body{
  padding: 0 0 1rem 0
}
.setting-foot{
  display: flex;
  justify-content: center;
  
}
.chart-item{
  margin : 1rem 0 1rem 0;
  vertical-align: middle ;
}
.progress-bar{
  display : inline;
  
}
.progress-bar-wrap{
  display:inline;
  width : 100%;
  /* margin-top : 0.5rem; */
}
.analysis-result{
  padding : 1rem
}
/* .analysis-num{
  font-weight : 600;
} */
ul{
  padding-left: 1.5rem;
}
.overflow{
  overflow: auto;
  white-space: nowrap;
  /* text-align: center; */
  -webkit-overflow-scrolling: touch;
}
.sub-row{
  border-width: 0 !important;
}

td, th{
  border-left-width: 0 !important;
  border-right-width: 0 !important;
}
th{
  border-width: 0 !important;
}
.analysis-box select{
  margin-top: 0.5rem;
}

.analysis-box .form-select:focus, .analysis-box .form-select:active, .analysis-box .form-select:focus-visible{
  border : var(--bs-border-width) solid var(--bs-border-color) !important;
  outline: none !important;
  box-shadow: none;
}


.padding{
  height : 500px
}
.analysis-exhaustive-result{
  font-weight : 600;
  font-size: 1.1rem;
  margin-left : 0.5rem
}
