@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));
@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-win: var(--win);
  --color-lose: var(--lose);
  --color-route: var(--route);
  --color-loopwin: var(--loopwin);

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      rotate: -90deg;
    }
    12.5% {
      /* transform: rotate(90deg); */
      rotate: 90deg;
    }
    25% {
      /* transform: rotate(-22.5deg); */
      rotate: -22.5deg;
    }
    37.5% {
      /* transform: rotate(22.5deg); */
      rotate: 22.5deg;
    }
    45% {
      /* transform: rotate(-11.25deg); */
      rotate: -11.25deg;
    }
    57.5% {
      /* transform: rotate(11.25deg); */
      rotate: 11.25deg;
    }
    75% {
      /* transform: rotate(-5deg); */
      rotate: -5deg;
    }
    87.5% {
      /* transform: rotate(5deg); */
      rotate: 5deg;
    }
  }

  /* --animate-chat-loading: "chat-loading 1s ease-in-out infinite"; */
  @keyframes chat-loading {
    0%,
    100% {
      transform: scale(0.6);
      opacity: 0.5;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
  }
}
:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: var(--color-blue-600);
  --primary-foreground: var(--color-blue-50);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(55.202% 0.01541 285.833);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.623 0.214 259.815);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: var(--color-blue-600);
  --sidebar-primary-foreground: var(--color-blue-50);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.623 0.214 259.815);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.141 0.005 285.823);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: var(--color-blue-500);
  --primary-foreground: var(--color-blue-50);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.488 0.243 264.376);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: var(--color-blue-500);
  --sidebar-primary-foreground: var(--color-blue-50);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.488 0.243 264.376);
}

:root {
  --radius: 0.75rem;
  --win: oklch(0.5863 0.1366 241.18);
  --lose: oklch(0.5872 0.2224 17.72);
  --route: oklch(0.623 0.1688 149.18);
  --loopwin: oklch(0.54 0.25 293);
  --theme-color-0: oklch(0.14 0 0);
  --theme-color-1: oklch(0.59 0.22 18);
  --theme-color-2: oklch(0.65 0.19 41);
  --theme-color-3: oklch(0.8 0.16 86);
  --theme-color-4: oklch(0.63 0.17 149);
  --theme-color-5: oklch(0.55 0.22 263);
  --theme-color-6: oklch(0.54 0.25 293);
  --theme-color-7: oklch(0.59 0.22 1);
  color-scheme: light;
}

.dark {
  --radius: 0.75rem;
  --win: oklch(0.6776 0.148143 238.1044);
  --lose: oklch(0.65 0.22 16);
  --route: oklch(0.7205 0.192 149.49);
  --loopwin: oklch(0.61 0.22 293);
  --theme-color-0: oklch(0.99 0 0);
  --theme-color-1: oklch(0.64 0.21 25);
  --theme-color-2: oklch(0.7 0.19 48);
  --theme-color-3: oklch(0.86 0.17 92);
  --theme-color-4: oklch(0.72 0.19 150);
  --theme-color-5: oklch(0.62 0.19 260);
  --theme-color-6: oklch(0.61 0.22 293);
  --theme-color-7: oklch(0.66 0.21 354);
  color-scheme: dark;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  font-family:
    "Noto Sans", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC", "Noto Sans TC",
    "Noto Sans Arabic", "Noto Sans Devanagari", "Noto Sans Hebrew",
    "Noto Sans Thai", "Noto Sans Symbols", "Noto Color Emoji", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
