name: Mirror main to singrum2

on:
  push:
    branches: ["main"]

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Clone singrum repo
        run: |
          git clone https://github.com/singrum/ggeugle.git source_repo
          cd source_repo
          git remote add target https://singrum2:${{ secrets.SYNC_TOKEN }}@github.com/singrum2/ggeugle-deploy.git
          git push target main
